{% load bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if title %}
  <title>Gallerie de arte-{{title}}</title>
  {% else %}
  <title>Gallerie de arte</title>
  {% endif %}
  
  {% block styles %}
  {% bootstrap_css %}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
  
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% endblock %}
</head>
<body>
  {% include 'navbar.html' %}
  {% block content %}
  <div class="row" style="margin-top: 4em;">
    <div class="col-md-1"></div>
    <div class="col-md-3">
      {% if category %}
      <h3 style="text-align: center;">Categories</h3>
      {% for category in category %}
      <a href="/category/{{category.id}}"><span class="badge rounded-pill bg-secondary">{{category.name}}</span></a>
      {% endfor %}
      {% endif %}
    </div>
    <div class="col-md-4" id="logo">
      <img src="{% static 'images/logo.png' %}" alt="logo" style="width:8em; padding-bottom: 0 !important;">
    </div>
    <div class="col-md-3">
      {% if location %}
      <h3 style="text-align: center;">Locations</h3>
      {% for location in location %}
      <a href="/location/{{location.id}}"><span class="badge rounded-pill bg-secondary">{{location.name}}</span></a>
      {% endfor %}
      {% endif %}
    </div>
    <div class="col-md-1"></div>
  </div>
  {% endblock %}
  {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
  {% bootstrap_javascript %}
  <script src=" {% static 'js/script.js' %}"></script>
  {% endblock %}
</body>
</html>