{% load static %}
<div class="navbar">
  <nav style="width: 100%;">
    <div class="nav">
      <a href="{% url 'home' %}" class="nav-item is-active" active-color="maroon" id="brand">Gallerie De Arte</a>
      <a href="/admin" class="nav-item"><br>Admin</a>
    </div>
    <div class="navbar-right" style="margin-top: auto;margin-bottom: auto;">
      <form class="navbar-form" role="search" action="{% url 'search_results' %}">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search By Category" name="category">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit"><i class="bi bi-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </nav>
</div>
