{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if image %}
<h3 style="text-align: center; text-transform: capitalize;">{{message}}</h3>
<div class="container">
  <div class="content" id="content">
    <div>
      {% for image in first %}
      <a href="/image/{{image.id}}">
        <img src="{{image.image.url}}" class="image img-thumbnail" alt="Image"></a>
      {% endfor %}
    </div>
    <div>
      {% for image in second %}
      <a href="/image/{{image.id}}">
        <img src="{{image.image.url}}" class="image img-thumbnail" alt="Image"></a>
      {% endfor %}
    </div>
    <div>
      {% for image in third %}
      <a href="/image/{{image.id}}">
        <img src="{{image.image.url}}" class="image img-thumbnail" alt="Image"></a>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}
{% endblock %}